*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    border:1px solid rgba(100%, 0%, 0%, 0.4)
}


.clearfix::after{
    content:'';
    display:table;
    clear:both;
}

.container{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.info{
    display: inline-block;
}
.block{
float: left;

}