*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    border:1px solid rgba(100%, 0%, 0%, 0.4);
}

body{
    font-family: 'Nunito', sans-serif;
}

.clearfix::after{
    content:'';
    display:table;
    clear:both;
}

.container{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.info{
    display: inline-block;
    vertical-align: middle;
}

img{
    width: 100px;
    height: 100px;
    vertical-align: middle;
}

.info p:nth-child(1){ /* sto strgetizzando tutti i nomi e cognomi*/ 
    font-size: 20px;
}

.info p:nth-child(2), p:nth-child(3){  /* sto strgetizzando tutti i lavori e le email*/ 
    font-size: 16px;

}

.block{
float: left;
padding: 10px;

}